{% load static %}

<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/vendors.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/charts/apexcharts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/extensions/dragula.min.css' %}">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-extended.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/colors.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/components.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/themes/dark-layout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/themes/semi-dark-layout.css' %}">
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/core/menu/menu-types/vertical-menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/pages/dashboard-analytics.css' %}">
<!-- END: Page CSS-->

<!-- BEGIN: DatePicker CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/datepicker/jquery.md.bootstrap.datetimepicker.style.css' %}">
<!-- END: DatePicker CSS -->