{% extends 'base/print-base.html' %}
{% load static %}
{% block title %}قرارداد حق التدریس{% endblock %}
{% block page %}
<style>
    @page {
        size: 210mm 297mm;
    }
</style>
{% endblock %}
{% block body %}

<body data-screen='portrait'>
    <div class="margin" style="border:none">
        <div>
            <div class="tuition-title">
                <h2 style="font-size: 13pt;">قرارداد حق التدریس</h2>
            </div>
            <div class="tuition-body">
                اين قرارداد به استناد آيين نامه تدريس موقت و حق التدريس دانشگاهها بين موسسه/مركز آموزش علمي - كاربردي
                جهاددانشگاهي
                شعبه كرج كه از اين پس مركز ناميده مي شود و {{ teacher.first_name }} {{ teacher.last_name }} با مشخصات
                ذيل كه صلاحيت تدريس
                وي توسط مركز امور هيات علمي مدرسان دانشگاه جامع علمي – كاربردي تاييد شده است و در اين قرارداد مدرس
                ناميده مي شود
                به منظور تدريس در دروس مشروحه ذيل در نيمسال دوم سال تحصیلی 1399 – 1398 طبق مقررات دانشگاهها و موسسات
                آموزش عالي كشور با شرايط زير منعقد مي گردد :
            </div>
            <div class="br-st">
                <div class="tuition-body">
                    <h2 style="font-size: 13pt;">مشخصات مدرس :</h2>
                    1- نام خانوادگی : {{ teacher.last_name }} نام : {{ teacher.first_name }} شماره شناسنامه :
                    {{ teacher.userprofile.p_id }} نام پدر : {{ teacher.userprofile.f_name }}
                    تاریخ تولد: {{ teacher.userprofile.birthday }} کد ملی {{ teacher.userprofile.n_id }} شماره پرونده مدرسی
                    /کدرهگیری: {{ teacher.userprofile.file_number }}
    
                </div>
                <div class="tuition-body">
                    2 -آخرین مدرک تحصیلی : {{ teacher.userprofile.degree }}
                </div>
                <div class="tuition-body">
                    3 -رشته تحصیلی {{ teacher.userprofile.degree }} محل اخذ آخرین مدرک تحصیلی
                    {{ teacher.userprofile.university }}
                </div>
                <div class="tuition-body">
                    4- رتبه علمی : {{ teacher.userprofile.rank}}
                </div>
                <div class="tuition-body">
                    5-وضعیت اشتغال : ( شاغل / بازنشسته ) {{ teacher.userprofile.job }}
                </div>
                <div class="tuition-body">
                    محل اشتغال فعلی: دانشگاه وزارتخانه یا سازمان ها دولتی بخش خصوصی
                </div>
                <div class="tuition-body">
                    6-چنانچه در موسسه /مرکزی شاغل هستید چند ساعت تدریس می نمایید ؟
                </div>
                <div class="tuition-body">
                    7-چند سال سابقه تدریس در سایر دانشگاه ها و مراکز دارید .؟ {{ teacher.userprofile.t_year }} سال
                </div>
                <div class="tuition-body">
                    8-آدرس : {{ teacher.userprofile.address }} شماره تلفن همراه : {{ teacher.userprofile.mobile }} شماره
                    تلفن ثابت : {{ teacher.userprofile.phone }}
                </div>
            </div>
        </div>
        
        <div>
            <table class="datatable">
                <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>عنوان دوره</th>
                        <th>مقطع</th>
                        <th>عنوان درس</th>
                        <th>واحد عملی</th>
                        <th>واحد نظری</th>
                        <th>ساعت عملی</th>
                        <th>ساعت نظری</th>
                        <th>گروه</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lesson in lessons %}
                        {% if lesson.lessonaccepted %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ lesson.course_title }}</td>
                            <td>{{ lesson.grade }}</td>
                            <td>{{ lesson.lesson_title }}</td>                                        
                            <td>{{ lesson.practical_unit }}</td>
                            <td>{{ lesson.theorical_unit }}</td>
                            <td>{{ lesson.practical_time }}</td>
                            <td>{{ lesson.theorical_time }}</td>
                            <td>{{ lesson.group }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>جمع کل</td>
                        <td>{{ prac_total_unit }}</td>
                        <td>{{ theo_total_unit }}</td>
                        <td>{{ prac_total_time }}</td>
                        <td>{{ theo_total_time }}</td>
                        <td>{{ total_group }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tuition-body">
            <h2 style="font-size: 13pt;">ماده 1) مدت قرارداد</h2>
            این قرارداد از تاریخ 1398/11/26 لغایت 1399/06/31 به مدت یک نیمسال /پودمان تحصیلی به مدت 17 هفته منعقد می
            گردد.
        
            <h2 style="font-size: 13pt;">ماده 2) مبلغ قرارداد و نحوه پرداخت </h2>
            1- میزان حق التدریس با توجه به آیین نامه حق التدریس در دانشگاه ها و موسسات آموزش عالی کشور برای هر ساعت
            تدریس دروس نظری {{ teacher.userprofile.practical_pay }} ریال و برای هر ساعت دروس علمی
            {{ teacher.userprofile.theorical_pay }} ریال می باشد.
            <p>
                که در مقابل گواهی انجام کار از طرف مرکز در پایان نیمسال تحصیلی ( نیمسال / پودمان ) و پس از اعمال کسورات
                قانونی متعلق از محل اعتبارات مربوط به شماره حساب {{ teacher.userprofile.account }} نزد بانک
                {{ teacher.userprofile.bank }} شعبه - کد - به نام {{ teacher.first_name }} {{ teacher.last_name }} به
                مدرس پرداخت می گردد.
            </p>
            <p>
                پرداخت حق التدریس در پایان نیم سال منوط به تصحیح و تحویل اوراق امتحانات و گزارش کتبی لیست کامل نمرات
                امتحان همان نیم سال / پودمان می باشد.
            </p>
        
            <h2 style="font-size: 13pt;">ماده 3) تعهدات مدرس </h2>
            <p>
                3-1 ) مدرس می بایست سرفصل دروس برنامه مصوب را مطابق ضوابط و مقررات آموزشی دانشگاه تدریس نماید.
            </p>
            <p>
                3-2) مدرس مکلف به تدریس درس موضوع قرارداد ، ارائه لیست حضور و غیاب دانشجویان درکلاس درس ، حضور در جلسات
                برگزاری امتحانات پایان ترم نیم سال /پودمان تحویل اوراق امتحانی دانشجویان و تسلیم لیست کامل نمرات نیم سال
                /پودمان و رسیدگی به اعتراضات احتمالی دانشجویان در زمانبدی ارائه شده از سوی مرکز می باشد.
            </p>
            <p>
                3-3 ) مدرس به موجب این قرارداد موظف است طبق برنامه ای که از طرف مرکز تعیین می شود برای تدریس درس حضور
                یافته و پس از انجام امتحانات کتبی و نمرات امتحانی را تا تاریخ 1399/05/01 به مرکز تحویل نماید . چنانچه
                بعضی از جلسات درس به علل موجه غیر موجه عدم حضور مدرس تشکیل نشود مدرس مکلف است با اطلاع قبلی مرکز جلسات
                تشکیل نشده را به نحوه مقتضی جبران نماید . برای جلسات تشکیل نشده حق ااتدریس پرداخت نخواهد شد . در صورت
                غیبت غیر موجه مدرس پس از برگزاری جلسات جبرانی فقط نصف حق التدریس پرداخت خواهد شد و درصورتیکه جلسات تشکیل
                نشده بهدلیل عدم حضور موجه مدرس باشد در صورت تشکیل جلسات جبرانی ، کل مبلغ حق التدریس به وی پرداخت خواهد
                شد در صورت عدم برگزاری جلسات جبرانی دو برابر میزان حق التدریس ساعات برگزار نشده از کل حق التدریس کسر
                خواهد شد . در صورت حضور مدرس در مرکز و عدم تشکیلات جلسات درسی به علل خارج از اراده و بدون اطلاع قبلی وی
                برای جبران جلسات تشکیل نشده مرکز می تواد با توافق مدرس اقدام نماید مدرس می تواند برای تدرس این جلسات
                اضافی حق التدریس مازاد مطالبه نماید.
            </p>
            <p>
                3-4 ) شرکت در جلساتی که از طرف مرکز در ارتباط با درس موضع این قرارداد تشکیل می شود اجباری و جزو وظایف
                آموزشی محسوب می گردد.
            </p>
            <p>
                3- 5 ) مدرس نمی تواند تعهدات مندرج در این ماده را کلا یا جزا به غیر واگذار نماید.
            </p>
            <p>
                3- 6 ) مدرس تحت هیچ عنوان حتی در زمان بروز اختلاف حق تعلیق انجام موضوع قرار داد و اجرای تعهدات خود را
                ندارد.
            </p>
            <p>
                3-7 ) مدرس متعهد به رعایت شنونات شغلی ، اخلاقی و دینی می باشد.
            </p>
            <p>
                3-8 ) عضو هیات علفمی / مدرس تمام وقت تعهد می نماید که مجموع ساعات تدریس وی در دانشگاه ها و موسسات آموزش
                عالی از حداکثر ساعات مجاز مندرج درآئین نامه حق التدریس تجاوز ننماید.
            </p>
        
            <h2 style="font-size: 13pt;">ماده 4 ) تعهدات مرکز </h2>
            <p>
                4-1 - مرکز متعهد است لیست کامل دانشجویان متقاضی شرکت در کلاسهای درس را در اولین جلسه درس به مدرس ارائه
                نماید.
            </p>
            <p>
                4-2 - مرکز تعهد به پرداخت حق التدریس مدرس بر اساس مندرجات ماده دو و برابر ضوابط و مقررات مربوط در پایان
                هر نیمسال / پودمان در صورت انجام کار و ایفای تعهدات مندرج در این قرار داد می باشد.
            </p>
            <p>
                4-3 - مرکز متعهد می گردد سرفصل مصوب برنامه درسی مقررات آموزشی و اداری مربوط را به مدرس به منظور آگاهی و
                آمادگی لازم برای انجام وظیفه مدرس ارائه نماید.
            </p>
            <p>
                4-4 - مرکز ملزم به در اختیار قراردادن فضا منابع علمی و تحقیقاتی کتابخانه و پایگاه اطلاع رسانی به مدرس و
                نیز تامین امکانات لازم جهت بازدید های علمی و تحقیقاتی مندرج در سر فصل برنامه مصوب می باشد.
            </p>
            <p>
                4-5 –مدرس می تواند در صورت فراهم بودن امکانات رفاهی و خدماتی در مرکز ( مهمانسرا ، سلف ) در طول مدت
                همکاری بر اساس ضوابط مقررات مرکز استفاده نماید.
            </p>
        
            <h2 style="font-size: 13pt;">ماده 5 ) حدود قرارداد </h2>
            <p>
                تدريس در مركز طبق اين قرار داد جنبه موقت داشته و در هيچ مورد نمي تواند مبناي استخدام يا تبديل وضع مدرس
                به صورت غير عضو هيات علمي مركز قرار گيرد و تدريس طبق اين قرار داد مويد هيچ گونه سمت رسمي دانشگاهي نمي
                باشد.
            </p>
        
            <h2 style="font-size: 13pt;">ماده 6 ) فسخ قرارداد </h2>
            <p>
                6-1- در صورت عدم اجراي تعهدات به موقع يا عدم اجراي هر يك از مواد مندرج در اين قرار داد توسط مدرس ، مركز
                مجاز به فسخ قرار داد با اخطار كتبي و قبلي مي باشد.
            </p>
            <p>
                6—2- در صورتي كه مدرس قرار داد را بدون عذر موجه فسخ نمايد و يا در كلاس درس حاضر نشود و يا از انجام
                امتحانات و تحويل اوراق استنكاف نمايد ، ضمن عقد قرار داد لازم ، متعهد و ملزم مي شود دو برابر وجوهي را كه
                به موجب اين قرار داد دريافت داشته است به مركز مسترد دارد.
            </p>
        
            <h2 style="font-size: 13pt;">ماده 7 ) نسخ قرار داد </h2>
            <p>
                اين قرار داد در هفت ماده و يك تبصره در سه نسخه تنظيم و بدون خط خوردگي و لاك گرفتگي ، امضاء گرديد و هر يك
                حكم واحد دارند يك نسخه از اين قرارداد حسب مورد به واحد استاني / موسسه ذيربط ارسال ، يك نسخه تسليم مدرس و
                يك نسخه در پروند مدرس در مركز درج مي گردد.
            </p>
        </div>
        <div>
            
            <div id="sign1">
                <p id="p-sign">خانم المیرا مقدم</p>
                <p id="p-sign">مدرس</p>
                <p id="p-sign">تاریخ و امضاء</p>
                <img src="{{ teacher.userprofile.sign.url }}" id="img-center" alt="" width="150px" height="150px">
            </div>
            <div id="sign2">
                <p id="p-sign">سید مرتضی سادات حسینی</p>
                <p id="p-sign">مدیر آموزش مرکز علمی-کاربردی جهاد دانشگاهی کرج</p>
                <p id="p-sign">تاریخ و امضاء</p>
                <img src="{% static 'assets/images/pages/blank.png' %}" id="img-center" alt="" width="150px" height="150px">
            </div>
            <div id="sign1">
                <p id="p-sign">محسن داورپناه</p>
                <p id="p-sign">سرپرست مرکز علمی-کاربردی جهاد دانشگاهی کرج</p>
                <p id="p-sign">تاریخ و امضاء</p>
                <img src="{% static 'assets/images/pages/blank.png' %}" id="img-center" alt="" width="150px" height="150px">
            </div>
            <div id="sign2">
                <p id="p-sign">احمدرضا فیروزی</p>
                <p id="p-sign">رییس جهاد دانشگاهی واحد استان البرز</p>
                <p id="p-sign">تاریخ و امضاء</p>
                <img src="{% static 'assets/images/pages/blank.png' %}" id="img-center" alt="" width="150px" height="150px">
            </div>
            
        </div>

    </div>


</body>
{% endblock %}
{% block script %}
<script>
    window.print();
</script>
{% endblock %}