{% extends 'base/base.html' %}

<!-- TITLE -->
{% block title %}title{% endblock %}

<!-- CSS -->
{% block stylesheet %}
    
{% endblock %}

<!-- LINKS -->
{% block links %}
<div class="col-12">
    <h5 class="content-header-title float-left pr-1">عنوان صفحه</h5>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb p-0 mb-0">
        <li class="breadcrumb-item"><a href="index.html"><i class="bx bx-home-alt"></i></a>
        </li>
        <li class="breadcrumb-item active">نام صفحه</li>
      </ol>
    </div>
</div>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    
{% endblock %}

<!-- JS -->
{% block javascript %}
    
{% endblock %}
