{% extends 'base/base.html' %}
{% load static %}

<!-- TITLE -->
{% block title %}لیست اساتید{% endblock %}

<!-- CSS -->
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/tables/datatable/datatables.min.css' %}">

{% endblock %}

<!-- LINKS -->
{% block links %}
<div class="col-12">
    <h5 class="content-header-title float-left pr-1">اساتید</h5>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb p-0 mb-0">
        <li class="breadcrumb-item"><a href="index.html"><i class="bx bx-home-alt"></i></a>
        </li>
        <li class="breadcrumb-item active">لیست اساتید</li>
      </ol>
    </div>
</div>
{% endblock %}

<!-- CONTENT -->
{% block content %}
<div class="content-body">
    <section id="basic-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">تنظیم نشده</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">
                                <table class="table zero-configuration">
                                    <thead>
                                        <tr>
                                            <th>نام</th>
                                            <th>نام خانوادگی</th>
                                            <th>کد ملی</th>
                                            <th>رشته تحصیلی</th>
                                            <th>آخرین مدرک تحصیلی</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for teacher in teachers %}
                                        <tr>
                                            <td>{{ teacher.first_name }}</td>
                                            <td>{{ teacher.last_name }}</td>
                                            <td>{{ teacher.userprofile.n_id }}</td>
                                            <td>{{ teacher.userprofile.field }}</td>
                                            <td>{{ teacher.userprofile.degree }}</td>
                                            <td>
                                                <a href="{% url 'teacher_detail'  teacher.id  %}"><i class="badge-circle badge-circle-light-secondary bx bx-show font-medium-1"></i></a>
                                                <a href="{% url 'teacher_edit'  teacher.id  %}"><i class="badge-circle badge-circle-light-secondary bx bx-edit font-medium-1"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

<!-- JS -->
{% block javascript %}
<script src="{% static 'assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/tables/datatable/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/scripts/datatables/datatable.js' %}"></script>
{% endblock %}
