{% extends 'base/base.html' %}

<!-- TITLE -->
{% block title %}title{% endblock %}

<!-- CSS -->
{% block stylesheet %}
    
{% endblock %}

<!-- LINKS -->
{% block links %}
<div class="col-12">
    <h5 class="content-header-title float-left pr-1">ترم</h5>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb p-0 mb-0">
        <li class="breadcrumb-item"><a href="index.html"><i class="bx bx-home-alt"></i></a>
        </li>
        <li class="breadcrumb-item active">ترم</li>
      </ol>
    </div>
</div>
{% endblock %}

<!-- CONTENT -->
{% block content %}
<div class="content-body">
  <section id="basic-datatable">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">ترم ها</h4>
            <div class="text-right">
              <a href="" class="btn btn-primary mr-4">ترم جدید</a>
            </div>
          </div>
          <div class="card-content">
            <div class="card-body card-dashboard">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

<!-- JS -->
{% block javascript %}
    
{% endblock %}
